.signin-container{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-msg{
  padding: 10px 10px;
  font-size: 15px;
  background-color: rgb(94, 221, 94);
  color: white;
}

.error-msg{
  padding: 10px 10px;
  font-size: 15px;
  background-color: rgb(245, 72, 72);
  color: white;
}

