.signin-container{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-msg{
  padding: 10px 10px;
  font-size: 15px;
  background-color: rgb(155, 235, 118);
  color: black;
}

.error-msg{
  padding: 10px 10px;
  font-size: 15px;
  background-color: rgb(248, 117, 117);
  color: black;
}

