.home-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  
}

.header-section {
  width: 100%;
  min-height: 500px;
  padding: 180px 10px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #003566;
}

.header-img {
  width: 400px;
  height: 300px;
}

.header-text {
  width: 30%;
}

.header-text h1 {
  color: #FFD60A;
}

.header-text h5{
  color: white;
}

.header-btn {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #FFC300;
  margin-top: 15px;
  color: #003566;
  box-shadow: 1px 1px 2px black;
  transition: 0.4s ease;
}

.header-btn:hover {
  background-color: white;
  color: #003566;
  box-shadow: 1px 1px 3px black;
}


.products-section{
  min-height: 90vh;
  padding: 50px 50px;
}

.product-card{
  padding: 20px 5px;
  width: auto;
  height: 350px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-card img{
  width: 200px ;
  height: 220px;
  transition: 0.3s ease;
}

.product-card img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.product-card h5{
  margin-top: 10px;
}

.product-card button{
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  background-color:white;
  box-shadow: 1px 1px 3px black;
  transition: 0.3s ease;
}

.product-card button:hover{
  background-color:#FFC300 ;
  color: black;
}


@media screen and (max-width:700px){
    .header-section{
      padding: 180px 30px;
    }
    
    .header-img{
        display: none;
    }
 
    .header-text {
        width: 100%;
        text-align: center;
      }
}